.block {
    display: flex;
    border: 10px solid white;
    border-radius: 15px;
    flex-direction: column;
    gap: 20px;
    width: 100%;


}

.name {
    border: 1px solid red;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;

}