.block {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 40px;
    width: auto;
    padding: 20px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    color: rgb(26, 26, 26);
    opacity: 0;
    transform: translateY(-10px);
    pointer-events: none;
    z-index: 2000;
    transition: opacity 0.3s ease, transform 0.3s ease;
    font-size: 1em;
    gap: 10px;


}


.element {

    width: auto;
    min-width: 250px;
    transition: 0.3s;
    position: relative;
}


.element::before {
    content: "";
    position: absolute;
    left: 0;
    top: 40%;
    width: 0;
    height: 5px;
    background-color: gray;
    opacity: 0;
    transition: 0.3s;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;


}

.element:hover::before {
    opacity: 1;
    left: -20px;
    width: 20px
}

.element:hover {
    transform: translateX(15px);
    color: gray;
}

.visible {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto
}


.block::before {
    content: "";
    position: absolute;
    top: -40px;
    left: 0;
    width: 100%;
    height: 40px;
    background-color: transparent;
}



@media (max-width: 1220px) {
    .block {
        position: relative;
        top: 0;
        width: 100%;
        max-height: 0;
        padding: 0 20px;
        overflow: hidden;
        opacity: 0;
        box-shadow: none;
        transition: max-height 0.5s ease, padding 0.5s ease, opacity 0.5s ease;
        transform: none;
        background-color: rgb(38, 41, 44);
        gap: 30px;
        color: white;
    }

    .element {
        background-color: rgb(38, 41, 44);


    }

    .block.visible {
        margin: 10px;
    }

    .visible {
        max-height: 500px;
        padding: 20px;
        opacity: 1;
        pointer-events: auto;
    }


    .block::before {
        display: none;
    }
}