.container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 70%;
    padding-top: 100px;
    border: 1px solid red;


    max-width: 1400px;
    position: relative;
}

.block {
    display: flex;
    position: relative;
    border: 5px solid purple;
}

.sPage {
    flex-direction: column;
}

@media (max-width: 1220px) {
    .container {
        width: 100%;
        padding-left: 10px;
        padding-right: 10px;
    }
}