.buttons {
    width: auto;
    display: flex;
    gap: 100px;
}

.menuItem {
    position: relative;
    display: flex;
    justify-content: center;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
}


@media (max-width: 1220px) {
    .buttons {
        width: 90%;
        flex-direction: column;
        gap: 0;
    }


    .menuItem {
        border-bottom: 1px solid white;
        padding: 30px;

    }
}