.nav {
    width: 100%;
    height: var(--height-header);
    background-color: transparent;
    max-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.buttons {
    width: auto;
    display: flex;
    gap: 100px;
}

.img {
    border: 1px solid white;
    width: 200px;
    border-radius: 25px;
}

.menuItem {
    position: relative;
    display: flex;
    justify-content: center;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;


}