.footer {
    height: 200px !important;



    width: 100%;
    background-image: url('../../images/marble.jpg.webp');
    background-color: rgb(37, 37, 37);
    background-blend-mode: color-dodge;
    background-repeat: no-repeat;
    background-size: cover;
}