.block {
    display: flex;
    border: 1px solid white;
    flex-direction: column;
    height: 500px;
    width: 200px;
    flex-direction: column;
}

.h1 {
    font-weight: bold;
}

@media (max-width: 1200px) {
    .block {
        display: none;
    }
}